absl-py==0.8.1
altair==4.1.0
apipkg==1.5
apyori==1.1.2
asn1crypto==1.0.0
astor==0.8.0
astroid==2.3.3
astropy==4.0.1.post1
atomicwrites==1.3.0
attr==0.3.1
attrs==19.3.0
automl==2.9.9
backcall==0.1.0
base58==2.0.1
beautifulsoup4==4.9.0
bleach==3.1.0
blinker==1.4
blis==0.4.1
blurhash==1.1.4
boost==0.1
boto==2.49.0
boto3==1.13.6
botocore==1.16.6
bs4==0.0.1
cachetools==4.1.0
catalogue==1.0.0
catboost==0.23.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
click==7.1.1
cmake==3.17.2
colorama==0.4.1
confuse==1.0.0
contextlib2==0.6.0.post1
cryptography==2.7
cssutils==1.0.2
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
deap==1.3.1
decorator==4.4.1
defusedxml==0.6.0
dill==0.2.9
Django==2.2.7
django-allauth==0.41.0
django-crispy-forms==1.9.0
django-markdown-deux==1.0.5
django-pagedown==2.0.3
django-rest-auth==0.9.5
django-tinymce4-lite==1.8.0
djangorestframework==3.11.0
dlib @ https://files.pythonhosted.org/packages/0e/ce/f8a3cff33ac03a8219768f0694c5d703c8e037e6aba2e865f9bae22ed63c/dlib-19.8.1-cp36-cp36m-win_amd64.whl#sha256=794994fa2c54e7776659fddb148363a5556468a6d5d46be8dad311722d54bfcf
docutils==0.15.2
en-core-web-sm==2.2.5
entrypoints==0.3
enum-compat==0.0.3
execnet==1.7.1
face-recognition==1.3.0
face-recognition-models==0.3.0
Flask==1.1.2
Flask-Uploads==0.2.1
fpt==0.0.2
future==0.18.2
gast==0.2.2
gensim==3.8.3
google-api-core==1.17.0
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-cloud-vision==1.0.0
google-pasta==0.1.8
googleapis-common-protos==1.51.0
graphviz==0.13
grpcio==1.25.0
gunicorn==20.0.4
h2o==3.30.0.7
h5py==2.10.0
htmlmin==0.1.12
idna==2.8
image==1.5.27
imbalanced-learn==0.6.2
imblearn==0.0
importlib-metadata==1.3.0
imutils==0.5.3
inflection==0.3.1
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
jsmin==2.2.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
kaggle==1.5.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lightgbm==2.0.12
llvmlite==0.31.0
lxml==4.5.0
Markdown==3.1.1
markdown2==2.3.9
MarkupSafe==1.1.1
Mastodon.py==1.5.1
matplotlib==3.1.1
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
mock==4.0.2
more-itertools==5.0.0
multiprocess==0.70.10
murmurhash==1.0.2
mysql-connector-python==8.0.20
nbconvert==5.6.1
nbformat==4.4.0
ndg-httpsclient==0.5.1
networkx==2.4
nltk==3.5
notebook==6.0.2
np-utils==0.5.12.1
numba==0.48.0
numpy==1.17.2
oauthlib==3.1.0
object-detection==0.1
opencv-contrib-python==4.1.1.26
opencv-python==4.2.0.32
opt-einsum==3.1.0
optional-django==0.1.0
packaging==20.3
pandas==0.25.3
pandas-profiling==2.5.0
pandocfilters==1.4.2
parso==0.5.1
path==13.1.0
path.py==12.4.0
pathos==0.2.6
pathtools==0.1.2
patsy==0.5.1
phik==0.9.9
pickle-mixin==1.0.2
pickleshare==0.7.5
Pillow==6.2.1
plac==1.1.3
plotly==4.7.1
pluggy==0.13.1
pox==0.2.8
ppft==1.6.6.2
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.11.3
py==1.8.1
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycocotools==2.0
pycparser==2.19
pydeck==0.4.0b2
pydotplus==2.0.2
pygame==1.9.6
Pygments==2.4.2
pylint==2.4.4
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyPdf==1.13
PyPDF2==1.26.0
PyQt5==5.13.1
PyQt5-sip==4.19.19
pyrsistent==0.15.6
pytesseract==0.3.4
pytest==5.4.1
pytest-pylint==0.15.1
pytest-shutil==1.7.0
python-dateutil==2.8.0
python-magic==0.4.18
python-mnist==0.6
python-slugify==4.0.0
python3-openid==3.1.0
pytz==2019.2
pywin32==227
pywinpty==0.5.7
PyYAML==5.1.2
pyzmq==18.1.1
qtconsole==4.6.0
Quandl==3.4.8
regex==2020.4.4
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rpy2==3.3.5
rsa==4.0
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
sklearn-deap2==0.2.2
smart-open==2.0.0
soupsieve==2.0
spacy==2.2.4
spacy-lookups-data==0.3.0
SQLAlchemy==1.3.16
sqlparse==0.3.0
srsly==1.0.2
statsmodels==0.10.1
streamlit==0.61.0
tabulate==0.8.7
tangled-up-in-unicode==0.0.3
tensorboard==2.0.2
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
tf-slim==1.0
tflearn==0.3.2
thinc==7.4.0
tk==0.1.0
toml==0.10.1
toolz==0.10.0
tornado==5.1.1
tqdm==4.42.0
traitlets==4.3.3
typed-ast==1.4.1
tzlocal==2.1
urllib3==1.24.3
validators==0.15.0
visions==0.2.2
wasabi==0.6.0
watchdog==0.10.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
xgboost==1.1.0
xlrd==1.2.0
zipp==0.6.0
